body {
    font-family: sans-serif;
}

header{
background-color: brown;
text-decoration: none;
}
header a{
    text-decoration:none;
    margin:10px;
    padding:3px;
    color:cornflowerblue;
    border:2px solid white
    border-radius:20px;
    backgroundp-color: gold;
}

h1
